.form-control {
    width: 120px;
    height: 34px;
    color: #000;
    font-size: 14px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #bbb;
}

.form-file {
    width: 319px;
    padding: 6px;
    margin-left: 8px;
    border: 1px solid #bbb;
}

.form-label {
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}

.select-label {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 8px;
}

.form-select {
    width: 96px;
    height: 34px;
    color: #000;
    font-size: 14px;
    padding-left: 4px;
    box-sizing: border-box;
    border: 1px solid #bbb;
}

.btn-picker {
    float: right;
    width: 80px;
    height: 36px;
    font-size: 15px;
    margin-top: 4px;
    margin-right: 11px;
}

tbody {
    height: 570px;
}

.icon-menu-right, .icon-menu-left {
    top: 0;
    color: #337ab7;
    font-size: 10px;
}

.icon-link:before {
    content: "\e144";
}

.icon-menu-left:before {
    content: "\e257";
}

.icon-menu-right:before {
    content: "\e258";
}

.icon-search {
    color: #337ab7;
}

.icon-search:before {
    content: "\e003";
}

.page-panel {
    height: 36px;
    margin-top: 16px;
}

.page-group {
    position: relative;
    width: 160px;
    height: 36px;
}

.page-control {
    float: right;
    width: 80px;
    height: 36px;
    padding: 0 32px 0 8px;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 36px;
    color: #000;
    background-color: #fff;
    border: 1px solid #bbb;
}

.page-query {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.page-total {
    float: right;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin-right: 8px;
}

.query-group {
    position: relative;
    width: 160px;
    height: 34px;
}

.query-control {
    width: 160px;
    height: 34px;
    line-height: 34px;
    padding: 0 34px 0 8px;
    font-size: 14px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.query-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
}