<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基础数据管理工具</title>
    <link rel="shortcut icon" th:href="@{/images/CSE.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/cse.css}"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a th:href="@{/index}"><img class="logo" th:src="@{/images/CSE.png}" alt=""/></a>
            <div class="account">
                <span style="font-weight: 700">{{user.name}}</span>
                <a class="icon icon-off" th:href="@{/logout}" style="color: #000"></a>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="panel">
        <div class="btn-list">
            <p class="form-label pull-left" style="width: 300px; height: 34px; line-height: 34px">总数量 {{perfect.count}}</p>
            <button class="btn pull-right" type="button" @click="exportFile" :disabled="isExportDisabled" style="margin-left: 14px">
                <span class="icon icon-cog rotate" style="margin-right: 4px" v-if="isExportDisabled"></span>{{exportAction}}
            </button>
            <!--<button class="btn pull-right" type="button" @click="fileImportModalVisible" style="margin-left: 14px">-->
                <!--导入缺省-->
            <!--</button>-->
            <!--<button class="btn pull-right" type="button" @click="dataPerfectModalVisible">-->
                <!--完善数据-->
            <!--</button>-->
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>部门</th>
                <th>已完善</th>
                <th>未完善</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="deptPerfect in perfect.deptPerfects">
                <td>{{deptPerfect.name}}</td>
                <td>{{deptPerfect.perfected}}</td>
                <td>{{deptPerfect.imperfect}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <span>&copy;2018 中国船舶重工集团柴油机有限公司</span>
</footer>
<div id="dataPerfectModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">完善备品备件</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content">
            <div class="form-group">
                <label class="form-label" style="width: 30px; margin-right: 10px">文件</label>
                <input id="dataFile" class="form-control" type="file" style="width: 325px"/>
            </div>
            <button class="btn pull-right" type="button" @click="importFile" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="fileImportModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-box">
        <div class="modal-header">
            <p class="modal-title">导入文件</p>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </div>
        <div class="modal-content">
            <div class="form-group">
                <label class="form-label" style="width: 30px; margin-right: 10px">文件</label>
                <input id="file" class="form-control" type="file" style="width: 325px"/>
            </div>
            <button class="btn pull-right" type="button" @click="importFile" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="popoverSpace" class="popover" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="loadModal" class="progress-modal" v-if="loading">
    <p class="progress">数据获取中...</p>
</div>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/naruto.js}"></script>
<script>
    const main = new Vue({
        el: "#main",
        data: {
            exportAction: "导出",
            isExportDisabled: false,
            perfect: {}
        },
        methods: {
            setPerfect: function (perfect) {
                this.perfect = perfect;
            },
            fileImportModalVisible: function () {
                fileImportModal.visible();
            },
            dataPerfectModalVisible: function () {
                dataPerfectModal.visible();
            },
            exportFile: function () {
                this.exportAction = "正在导出";
                this.isExportDisabled = true;
                axios({
                    method: "post",
                    url: requestContext + "api/materials/export/all",
                    responseType: "blob"
                }).then(function (response) {
                    let date = new Date();
                    download(response, "基础数据" + date + ".xlsx");
                    main.exportCallback();
                }).catch(function () {
                    popoverSpace.append("服务器访问失败", false);
                    main.exportCallback();
                });
            },
            exportCallback: function () {
                this.exportAction = "导出";
                this.isExportDisabled = false;
            }
        },
        mounted: function () {
            axios.get(requestContext + "api/materials/count")
                .then(function (response) {
                    let statusCode = response.data.statusCode;
                    if (200 === statusCode) {
                        main.setPerfect(response.data.data);
                    }
                    loadModal.loadCallback();
                });
        }
    });

    const dataPerfectModal = new Vue({
        el: "#dataPerfectModal",
        data: {
            isVisible: false,
            isDisabled: false,
            action: "导入"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            importFile: function () {
                if ("" === document.getElementById("dataFile").value) {
                    popoverSpace.append("请选择BOM文件", true);
                    return;
                }
                this.isDisabled = true;
                this.action = "正在导入";
                let file = document.getElementById("dataFile").files[0];
                let param = new FormData();  //创建form对象
                param.append("file", file, file.name);  //通过append向form对象添加数据
                let config = {
                    headers: {"Content-Type": "multipart/form-data"}
                };  //添加请求头
                axios.post(requestContext + "api/materials/import/structure", param, config)
                    .then(function (response) {
                        let statusCode = response.data.statusCode;
                        if (200 === statusCode) {
                            window.location.reload();
                        } else {
                            let message = getMessage(statusCode);
                            popoverSpace.append(message, false);
                            fileImportModal.importCallback();
                        }
                    }).catch(function () {
                    popoverSpace.append("服务器访问失败", false);
                    fileImportModal.importCallback();
                })
            },
            importCallback: function () {
                this.action = "导入";
                this.isDisabled = false;
            }
        }
    });

    const fileImportModal = new Vue({
        el: "#fileImportModal",
        data: {
            isVisible: false,
            isDisabled: false,
            action: "导入"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            importFile: function () {
                if ("" === document.getElementById("file").value) {
                    popoverSpace.append("请选择BOM文件", true);
                    return;
                }
                this.isDisabled = true;
                this.action = "正在导入";
                let file = document.getElementById("file").files[0];
                let param = new FormData();  //创建form对象
                param.append("file", file, file.name);  //通过append向form对象添加数据
                let config = {
                    headers: {"Content-Type": "multipart/form-data"}
                };  //添加请求头
                axios.post(requestContext + "api/materials/import/origin", param, config)
                    .then(function (response) {
                        let statusCode = response.data.statusCode;
                        if (200 === statusCode) {
                            window.location.reload();
                        } else {
                            let message = getMessage(statusCode);
                            popoverSpace.append(message, false);
                            fileImportModal.importCallback();
                        }
                    }).catch(function () {
                    popoverSpace.append("服务器访问失败", false);
                    fileImportModal.importCallback();
                })
            },
            importCallback: function () {
                this.action = "导入";
                this.isDisabled = false;
            }
        }
    });
</script>
</body>
</html>