<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基础数据管理工具</title>
    <link rel="shortcut icon" th:href="@{/images/CSE.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/cse.css}"/>
</head>
<body>
<header id="header" class="header">
    <div class="header-fixed">
        <div class="container">
            <a th:href="@{/index}"><img class="logo" th:src="@{/images/CSE.png}" alt=""/></a>
            <div class="account">
                <span style="font-weight: 700">{{user.name}}</span>
                <a class="icon icon-off" th:href="@{/logout}" style="color: #000"></a>
            </div>
        </div>
    </div>
</header>
<main id="main" class="container">
    <div class="panel">
        <div class="btn-list">
            <p class="form-label pull-left" style="width: 300px; height: 34px; line-height: 34px">总数量 {{perfect.count}}</p>
            <button class="btn pull-right" type="button" @click="exportFile" :disabled="isExportDisabled">
                <span class="icon icon-cog rotate" style="margin-right: 4px" v-if="isExportDisabled"></span>{{exportAction}}
            </button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>部门</th>
                <th>已完善</th>
                <th>未完善</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="deptPerfect in perfect.deptPerfects">
                <td>{{deptPerfect.name}}</td>
                <td>{{deptPerfect.perfected}}</td>
                <td>{{deptPerfect.imperfect}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <span>&copy;2018 中国船舶重工集团柴油机有限公司</span>
</footer>
<div id="loadModal" class="progress-modal" v-if="loading">
    <p class="progress">数据获取中...</p>
</div>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/naruto.js}"></script>
<script>
    const main = new Vue({
        el: "#main",
        data: {
            exportAction: "导出",
            isExportDisabled: false,
            perfect: {}
        },
        methods: {
            setPerfect: function (perfect) {
                this.perfect = perfect;
            },
            exportFile: function () {
                this.exportAction = "正在导出";
                this.isExportDisabled = true;
                axios({
                    method: "post",
                    url: requestContext + "api/materials/export/all",
                    responseType: "blob"
                }).then(function (response) {
                    let date = new Date();
                    download(response, "基础数据" + date + ".xlsx");
                    main.exportCallback();
                }).catch(function () {
                    popoverSpace.append("服务器访问失败", false);
                    main.exportCallback();
                });
            },
            exportCallback: function () {
                this.exportAction = "导出";
                this.isExportDisabled = false;
            }
        },
        mounted: function () {
            axios.get(requestContext + "api/materials/count")
                .then(function (response) {
                    let statusCode = response.data.statusCode;
                    if (200 === statusCode) {
                        main.setPerfect(response.data.data);
                    }
                    loadModal.loadCallback();
                });
        }
    });
</script>
</body>
</html>